@use 'variables' as var;

.d-block {
  display: block;
}

.space-top-medium {
  margin-top: 40px;
}

.space-bottom-medium {
  margin-bottom: 40px;
}


.hidden {
  @media (min-width: var.$mq-desktop) {
    &-desktop {
      display: none;
    }
  }
}

.wrap-gray {
  padding: 20px;
  background: var.$gray-light;

  @media (min-width: var.$mq-tablet) {
    padding: 50px 50px 40px;
  }
}

.wrap-sep {
  border: 0;
  background: var.$white;
  height: 1px;
  margin: 50px -50px;
}

.title-page {
  margin: 0 0 8px;
  font-size: 24px;
  line-height: 1.1;
}

.title-section {
  font-size: 20px;
  margin: 0;
}
